
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainRed: red;
$maninPink: #900c3f;
$mainBlue: #709fb0;
$mainOrange: gold;
$mainGrey:#e5e5e5;
$transitionInfo: all 0.3s linear;


body {
  font-family: 'Roboto Slab', serif; 
  
  
} 
